html{
    scroll-behavior: smooth;
        overflow-x: hidden;

}
body{
    margin:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}


/*НАЧАЛЬНАЯ СТРАНИЦА*/
.header{
    background: url('фон1.jpeg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-header{
    margin:0px 0px;
    background-color: rgba(0, 0, 0, 0.564);
    padding-bottom: 20px;

}
.header-line{ /* наш флекс-контейнер*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    height: 125px;
}
.header-logo{
    color:white;
    font-size: 23px;
    font-weight: 600;
}
.burger_menu{
    display:none;
}
.nav-item{
    color:white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    margin-left: 35px;
    transition: color 0.2s linear; /*изменение цвета при наведении*/
}
.nav-item:hover {
    color:brown;
}
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; 
    width: 50px;
    height: 50px;
    background-color: rgb(40, 164, 164);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 26px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding-left: 16px;

}
#scrollToTopBtn:hover {
    background-color: brown;
}
.phone-holder { /* наш флекс-контейнер*/
    display: flex;
    align-items:center;
}
.tel{
    color:white;
    text-decoration: none;
    font-weight: 500px;
    transition: color 0.2s linear;
}
.tel:hover{
    color:brown;
}
.phone-text{
    font-size:14px;
    font-weight: 300;
    color:white;
}
.button{
    background-color:rgb(40, 164, 164);
    color:white;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 500;
    border-radius: 3px;

    transition: background-color 0.2s linear;
}
.button:hover{
    background-color:brown;
}




/*НАЧАЛЬНАЯ СТРАНИЦА 2*/
.header-down{
    position:relative; /*родитель*/
}
.header-title{
    position: absolute;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    left: 275px;
    margin-top: 370px;
    margin-bottom: 10px;
    
}
.header-subtitle{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 510; 
}
.header-subtitle2{
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
}
.header-subtitle2::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 60px;
    background-color: white;
    top:140px;
    left:35px;
}
.header-subtitle2::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 60px;
    background-color: white;
    top:140px;
    left:410px;
}
.a-about{
    background-color: rgb(40, 164, 164);
    align-items: center;
    padding: 14px 30px;
    color:white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.2s linear;
}
.a-about:hover{
    background-color: brown;
}




/*ЛУЧШАЯ ВЕРСИЯ СЕБЯ*/
.container-best{
    background-color: rgb(0, 0, 0);
}
.best{
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 65px;
    font-weight: 400px;
    padding-bottom: 40px;
    padding-top: 45px;
    height: 70px;
    color:rgb(243, 227, 196);
}




/*О НАС*/
.adout_us{
    background-color:black ;
    background: linear-gradient(to bottom, black, 70% , rgb(187, 226, 232));
}
.about-content{ /*флекс контейнер*/
    color:rgb(243, 227, 196);
    max-width: 1200px;
    padding: 50px 155px;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}
.about-img{
    max-width: 100%;
    flex: 1 1 200px;
    height: 406px;
    margin:0px auto;
    box-shadow: -4px 7px 25px 25px rgb(243, 227, 196);
}
.about-image{
    height: 406px;
    width: 541px;
}
.about-text{
    flex: 1 1 200px;
    padding:5px;
}
.about-text h2{
   display:flex;
   justify-content: center;
   align-content: center;
}




/*КАРТОЧКИ*/
.container-cards{
    background-color: rgb(187, 226, 232);
    display: flex;
    justify-content: center;
    align-items: center;

}
.cards-holder{
    display: flex;
    justify-content: center;
    padding-top: 65px;
}
.card{
    box-shadow: 10px 13px 25px 15px #0000001A;
    width: 340px;
    height: 328px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 75px;
    background-color: #fff;
    padding: 0px 0px 10px 15px;
    border-radius: 5%;
}
.card-image{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 5px;

}
.title-card{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 520;
    padding-top:10px;
}
.discription-card{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding:10px;
    width: 310px;
    height: 104px;
    
}
.bth-card{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    
}
.button-card{
    background-color:rgb(40, 164, 164);
    color:white;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 500;
    border-radius: 5%;

    transition: background-color 0.2s linear;
}
.button-card:hover{
    background-color: brown;
}




/*ПОДПИСКА*/
.sub-discription{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 35px 10px 10px 10px;
    background-color: rgb(187, 226, 232);
}
.container-subscribe{
    background: linear-gradient(rgb(187, 226, 232), rgb(0,0,0));
    display: flex;
    justify-content: center;
    padding-top: 12px;
    
}
.sub{
    width: 349px; 
    height: 250px;
    margin-right: 30px;
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 0px 0px 10px 20px;
    font-size: 25px;
}
.under{
    
}
.club-card{
    
}
.day-fit p{
    font-size: 18px;
}
  
ul{
    padding: 0px 0px;
    margin: 10px;
}
li{
    font-size: 18px;
}
.sub-img{
    display: flex;
    justify-content: end;
    margin-top: 45px;
}
   



/*верстка с помощью грид*/
.services-holder{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,minmax(300px, ));
    color: rgb(243, 227, 196);
    grid-gap: 40px 30px;
    padding: 10px 15px;
    
}
.service{
    border: 1px solid #fff;
    display: grid;
    padding: 10px 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    border-radius:10px;
    grid-gap: 10px 25px;
}
.service-link{
    text-decoration: none;
    color:rgb(243, 227, 196);
    transition: color 0.2s linear;

}
.service-link:hover{
    color:rgb(40, 164, 164);
    
}
.service-title{
    justify-self: flex-start;
    grid-column:1;
    grid-row:1;
    align-self: center;
    font-size: 40px;
    font-weight: 500;
    font-variant-caps:all-petite-caps;
    padding-left:20px;
    align-self: center;
}
.service-discrit{
    justify-self: flex-start;
    grid-column:1;
    grid-row:2;
    padding-left:20px;
    align-self: flex-start;
    font-size:20px;
    padding-top: 10px;
}
.service-img{
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}

.image-service{
    height: 269px;
    width: 290px;
}





.trainers{
    background-color: black;
}
.trainers-disc{
    color:#fff
}
.trainers-disc h2{
    text-align: center;
    margin-top:-10px;
    padding-top: 70px;
    font-weight: 500;
    font-size: 54px ;
    color:rgb(243, 227, 196);
    
}
.trainers-disc p{
    text-align: center;
    padding: 0px 175px;
    font-size: 18px;
    color:rgb(243, 227, 196);
}
.personal-trainers-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(0, 0, 0);
}
.trainer-holder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:50px;
}
.persona{
    width: 200px;
    height: 300px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 75px;
    background-color: #fff;
    color:rgb(243, 227, 196);
}
.img-trainer{
    height: 300px;
    width: 230px;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}




/*ФОРМА*/
.forms{
    background-color:black;
}                    
form { 
    width: 500px;
    margin: 0 auto; 
    padding: 20px; 
    border: 2px solid rgb(243, 227, 196); 
    border-radius: 5%;
}
label { 
    display: block; 
    margin-bottom: 5px; 
    margin-top: 5px;
    font-weight: 600;   
    color:rgb(243, 227, 196);;
}
input, textarea { 
    width: 100%; 
    background-color: rgb(243, 227, 196);
    padding: 12px;  
    padding-bottom: 20px; 
    box-sizing: border-box; 
    border-radius:3px; 

}
.formtitle{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 54px;
    font-weight: 500;
    color:rgb(243, 227, 196);
    text-decoration: none;
    padding-bottom: 30px;
    padding-top: 64px;

}
button { 
    background-color:rgb(40, 164, 164) ;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    height: 37px;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 7px;

    transition: background-color 0.2s linear;
}
button:hover{
    background-color:brown;
}

/*футер*/
footer{
    background-color: #000000;
    color: white;
    padding: 100px 0px 20px 0px;     
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.footer-logo{
    padding-left: 80px;
    font-size: 18px;
    font-weight: 500;
}
.footer-contacts{
    margin-top: 10px;
    padding-right: 75px;
}
.footer-contacts p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 500;
    
}
.footer-social{
    padding-left:55px;
}
.footer-a{
    text-decoration: none;
    color:white;
    transition: color 0.2s linear; /*изменение цвета при наведении*/
}

.footer-a:hover {
    color:rgb(40, 164, 164);
}
.footer-adress{
    text-decoration: none;
    color:white;
    transition: color 0.2s linear; /*изменение цвета при наведении*/
}

.footer-adress:hover {
    color:rgb(40, 164, 164)
}





@media (max-width: 1500px){
    
}

@media (max-width: 1325px){
    .services-holder{
        grid-template-columns: repeat(auto-fill,minmax(300px,700px));
        justify-content: center;
    }
    .about-text h2{
        font-size: 19px;
    }
    .about-text p{
        font-size: 15px;
    }
    .about-text{
        flex: 1 1 200px;
        padding:5px;
        margin-left: 20px;
    }
    .about-content{
        gap: 60px;
    }
    .trainers-disc p {
        padding: 0px 145px;
        }

}

@media (max-width: 1200px) {
    
    .cards-holder{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-top: 25px;
        padding-bottom: 20px;
        margin-left: 35px;
    }
    .about-content{
        gap: 50px;
    }
    .about-text h2{
        font-size: 17px;
    }
    .about-text p{
        font-size: 14px;
    }
    .about-text{
        flex: 1 1 200px;
        padding:5px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .trainers-disc p {
        padding: 0px 135px;
    }

}

@media (max-width: 1125px){
    .about-img{
        margin-left: 145px;
        margin-right: 145px;
    }
    .about-content{
        height: 790px;
        padding: 40px 155px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-text h2{
        font-size: 22px;
    }
    .about-text p{
        font-size: 18px;
    }
    .trainer-holder {
        gap: 35px;
    }
    .persona{
        margin-right: 20px;
    }

}



@media (max-width: 1024px) {
    .header-title{
        left:20%;
    }
    .about-text h2{
        font-size: 20px;
    }
    .about-text p{
        font-size: 16px;
    }

    .trainers-disc h2{
        font-size: 50px ;
    }
    .trainers-disc p{
        padding: 0px 115px;
        font-size: 16px;
    }
    .trainer-holder {
        gap: 25px;
    }
    .persona{
        margin-right: 15px;
        margin-left: 10px;
    }
    .sub{
        padding: 0px 0px 10px 50px;
    }
   
}


@media (max-width: 890px) {
    .header-logo{
        font-size: 21px;
    }
    .nav-item{
        font-size: 15px;
        margin-left: 13px;
    }
    .tel{
        font-size: 15px;
    }
    .button{
            padding: 10px 12px;
            font-size: 15px;
    }
    .about-img{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width:541px;
    }
    .best{
        height: 100px;
    }
    .cards-holder{
        padding-top: 20px;
    }
    .about-content{
        height: 800px;
    }

    .footer-logo{
        padding-left: 60px;
        font-size: 16px;
    }
    .footer-contacts{
        margin-top: 10px;
        padding-right: 35px;
        padding-left: 10px;
        
    }
    .footer-contacts p {
        margin: 5px 0;
        font-size: 14px;
        font-weight: 500;}

    .footer-social{
        padding-left:55px;
        font-size: 14px;
    }

}


@media (max-width: 709px) {
    .header-title{
            text-align: center;
            padding-right: 80px;
            font-size: 43px;
            left:18%;
    }
    .header-subtitle2::before, .header-subtitle2::after{
            display: none;
    }
    .best{
        font-size: 45px;
        font-weight: 400px;
        padding-bottom: 0px;
        height: 80px;
    }
    .services-holder{
        padding-left: 20px;
        padding-right: 20px;
    }
    .service-title{
        font-size: 30px;
        font-weight: 430;
        padding-top: 5px;
    }
    .service-discrit{
        font-size: 18px;
        padding-top: 20px;
    }
    .image-service{
        height: 240px;
        width: 250px;
    }
    .fin-discript{
        padding-top: 3px;
    }
    .diag-discript{
        padding-top: 3px;
    }
    .about-img{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width:400px;
    }
    .about-image{
        height: 365px;
        width: 400px;
    }

    .footer-logo{
        padding-left: 45px;
        font-size: 14px;
    }
    .footer-contacts{
        margin-top: 10px;
        padding-right: 14px;
        padding-left: 10px;
        
    }
    .footer-contacts p {
        margin: 5px 0;
        font-size: 12px;
        font-weight: 500;}

    .footer-social{
        padding-left:35px;
        font-size: 12px;
    }
    .trainers-disc h2{
        font-size: 45px ;
    }
    .trainers-disc p{
        padding: 0px 100px;
        font-size: 14px;
    }
    .trainer-holder {
        gap: 15px;
        }
    .about-content {
            padding-bottom: 50px;
    }
}


@media (max-width: 658px) { 
    .header-title{
        padding-right: 40px;
        font-size: 40px ;
    }
    .header-subtitle{
        font-size: 45px;
        flex-wrap: nowrap;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .header-line{
        justify-content: flex-start;
    }
    .header-logo {
        font-size: 22px;
        margin-left: 63px;
        }
    .phone, .btn{
        display: none;
       }
    .burger_menu{
        display:block;
        position: relative;
        right: 30px;
        z-index: 5;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .burger_menu span, .burger_menu::before, .burger_menu::after{
        left:0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color:rgb(40, 164, 164);
        margin-left: 405px;
    }
    .burger_menu::before, .burger_menu::after{
        content: "";
    }
    .burger_menu::before{
        top:0;
    }
    .burger_menu::after{
        bottom:0;
    }
    .burger_menu span{
        top: 50%;
        transform: translateY(-50%);
    }
    .nav-item{
        display: flex;
        flex-direction: column;
    }
    .nav{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        padding: 150px 30px 30px 90px;
        display: none; 
        background-color: rgba(0, 0, 0, 0.700);
        opacity: 0.9;
        overflow: auto;
    }
    .nav._active{
        display: block;  

    }
    .nav-item{
        margin: 0px 0px 30px 0px;
        text-align: left;
        font-size: 27px;
    }
    .services-holder{
        padding-left: 25px;
        padding-right: 25px;
    
    }
    .sub{
        font-size: 20px;
    }

    li{
        font-size: 16px;

    }
    .day-fit p{
        font-size: 16px;
        margin-top: 6px;
    }
    .service-title{
        font-size: 28px;
        font-weight: 400;
    }
    .service-discrit{
        font-size: 16px;
        padding-top: 15px;
    
    }
    .about-text h2{
        font-size: 19px;
    }
    .about-text p{
        font-size: 15px;
    }
    .about-text{
        padding-left:0px;
        padding-bottom: 10px;
    }
    .about-content{
        padding: 50px 135px;
    }
    .trainers-disc h2{
        font-size: 45px ;
    }
    .trainers-disc p{
        padding: 0px 40px;
        font-size: 14px;
    }
}



@media (max-width:574px){
    .container-subscribe{
        display: flex;
        align-items: center;
        justify-items: center;
        padding-bottom: 120px;
    }
    .sub{
        font-size: 18px;
        height: 120px;
    }

    li {
        font-size: 14px;
    }
    .day-fit p {
            font-size: 14px;
            margin-top: 6px;
            }
    .sub-discription {
        font-size: 32px;
        padding: 30px 15px 15px 15px;
    }

    .service{
        grid-template-rows: 100px 1fr;
        grid-gap: 10px 4px;
    }
    
    .service-title{
        font-size: 25px;
        font-weight: 400;
        padding-left: 10px;
    }
    .service-discrit{
        font-size: 14px;
        padding-top: 5px;
        padding-left: 10px;
    }
    .image-service{
        height: 210px;
        width: 200px;
    }

    .best{
        font-size: 40px;
        padding-bottom: 10px;
        padding-top: 45px;
        height: 60px;
        color:rgb(243, 227, 196);
    }
    .about-content{ /*флекс контейнер*/
        gap: 40px;
    }
    .about-img{
        min-width: 320px;
        flex: 1 1 200px;
        height: 284px;
        margin:0px auto;
    }
    .about-image{
        height: 284px;
        width: 320px;
    }
    .burger_menu span, .burger_menu::before, .burger_menu::after{
        margin-left: 365px;
    }
    form { 
        width: 350px;
    }
    label { 
 
        margin-top: 5px;
  
    }
    .formtitle{
        font-size: 40px;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    button { 
        height: 35px;
    }
    .trainers-disc h2{
            font-size: 40px ;
    }
    
    .footer-logo{
            padding-left: 30px;
            font-size: 12px;
    }
    .footer-contacts{
            margin-top: 10px;
            padding-right: 14px;
            padding-left: 10px; 
    }
        .footer-contacts p {
            margin: 5px 0;
            font-size: 12px;
            font-weight: 400;}
    
        .footer-social{
            padding-left:25px;
            font-size: 12px;
        }
   
    }
        

    @media (max-width: 533px)   {

        .burger_menu span, .burger_menu::before, .burger_menu::after{
            margin-left: 325px;
        }
        .header-title {
            padding-right: 50px;
            font-size: 35px;
            }
        .about-content {
                padding: 30px 105px;
                height: 790px;
                }
                .best {
                    font-size: 35px;
                    padding-bottom: 10px;
                    padding-top: 45px;
                    height: 60px;
                    }
        .about-img{
                    min-width: 310px;
                
                    height: 285px;
                  
                }
        .about-image {
            height: 285px;
            width: 310px;
                    }
                    .container-subscribe {
                        display: flex;
                        align-items: center;
                        justify-items: center;
                        padding-bottom: 100px;
                        }
        .sub {
                        padding: 0px 0px 10px 30px;
                        height: 100px;
                        }

    }
 









    @media (max-width: 498px){
      
        .burger_menu span, .burger_menu::before, .burger_menu::after{
            margin-left: 275px;
    
        }   
        .header-title {
            padding-right: 30px;
            font-size: 30px;
            left: 23%;
        }   
        .best {
            font-size: 35px;
            height: 50px;
            } 
        .sub-discription {
                font-size: 28px;
                padding: 25px 15px 15px 15px;
                } 
        .sub {
                    padding: 0px 0px 10px 20px;
                    height: 90px;
        }
                    .trainers-disc h2{
                        font-size: 38px ;
                    }
                    .footer-container{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }
                    .footer-logo{
                        font-size:16px;
                        padding-left: 0px;
                    }
                    .footer-contacts{
                    margin-top: 0px;
                        padding-right: 14px;
                        padding: 0px 0px 20px 75px;
                        
                    }
                    .footer-contacts p {
                        margin: 5px 0;
                        font-size: 15px;
                        font-weight: 400;
                    }
                
                    .footer-social{
                        padding: 20px 0px 20px 15px;
                        font-size: 16px;
                    }
                .formtitle{
                    font-size: 30px;
                }
                form {
                    width: 300px;
                    padding: 10px 20px;
                    }
                }



                

@media (max-width: 465px){
    .burger_menu span, .burger_menu::before, .burger_menu::after{
        margin-left: 225px;
    }  
    .header-title {
        padding-right: 30px;
        font-size: 28px;
        left: 22%;
        margin-top: 320px;
        }
    .header-subtitle2 {
            padding-bottom: 10px;
            }
    .best {
        font-size: 32px;
        }
        .about-content {
            padding: 25px 75px;
            height: 780px;
            }
        .about-img{
            min-width: 260px;
            flex: 1 1 200px;
            height: 285px;
            margin:0px auto;
        }
 .about-image {
    height: 285px;
    width: 260px;
            }
    .sub{
        font-size: 19px;
    }
    li{
        font-size: 13px;
    }
    .day-fit p{
        font-size: 13px;
    }
    .service-title{
        font-size: 21px;
        font-weight: 400;
        padding-left: 5px;
        padding-right: 5px;
    }
    .service-discrit{
        font-size: 11px;
      
        padding-bottom: 20px;

    }
    .image-service{
        height: 160px;
        width: 170px;
        }
    footer {
     padding: 80px 0px 20px 0px;
    }
              
}

@media (max-width: 420px){
    .burger_menu span, .burger_menu::before, .burger_menu::after{
        margin-left: 215px;
    }  
    .header-line{
        margin: 0;
    }
    .header-title {
        font-size: 26px;
        left: 15%;
        } 
        .about-content {
            padding: 25px 75px;
            height: 830px;
           
            }
            .service-title{
                font-size: 20px;
            }
            .service-discrit{
                font-size: 10px;
                
            }
            .image-service{
                height: 150px;
                width: 160px;
                }
                .card {
                    margin-right: 0;
margin-left: 0;

                    }
}

@media (max-width: 365px){
    .burger_menu span, .burger_menu::before, .burger_menu::after{
        margin-left: 175px;
    }
    .header-logo {
        font-size: 22px;
        margin-left: 31px;
        }
.about-content {
            padding: 25px 45px;
            height: 835px;
            }
.about-img{
    min-width: 260px;
    height: 285px;
        }
.about-image {
    height: 285px;
    width: 260px;
            }
            .service-title {
                font-size: 17px;
                }
                .sub {
                    padding: 0px 0px 10px 22px;
height: 115px;
font-size: 15px;
                    }
                    li {
                        font-size: 10px;
                        }
.card{
    width: 330px;
}
.header-title {
    font-size: 23px;

    }
    .service-discrit{
       
        padding-bottom: 30px;
    }
}

@media (max-width: 365px){
.footer-social {
    padding: 20px 0px 20px 12px;
}
.footer-contacts {

    padding: 0px 0px 20px 82px;
    }
    }

