body{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.header{
    background: url('фон1.jpeg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-header{
    margin:0px 0px;
    background-color: rgba(0, 0, 0, 0.564);
    padding-bottom: 20px;

}


.header-line{ /* наш флекс-контейнер*/
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-logo{
    color:white;
    font-size: 23px;
    font-weight: 600;
}
.nav-item{
    color:white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-left: 35px;

    transition: color 0.2s linear; /*изменение цвета при наведении*/
}
.nav-item:hover {
    color:brown;
}


.phone-holder { /* наш флекс-контейнер*/
    display: flex;
    align-items:center;
}

.tel{
    color:white;
    text-decoration: none;
    font-weight: 500px;

    transition: color 0.2s linear;
}
.tel:hover{
    color:brown;
}

.phone-text{
    font-size:14px;
    font-weight: 300;
    color:white;
}



.button{
    background-color:rgb(40, 164, 164);
    color:white;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 500;

    transition: background-color 0.2s linear;
}
.button:hover{
    background-color:brown;
}



.menu-down{
    display:none;
}


.header-down{
    position:relative; /*родитель*/
}
.header-title{
    position: absolute;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    left: 275px;
    margin-top: 220px;
    margin-bottom: 12px;
    
}

.header-subtitle{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 510; 
}

.header-subtitle2{
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
}
.header-subtitle2::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 60px;
    background-color: white;
    top:140px;
    left:35px;
}
.header-subtitle2::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 60px;
    background-color: white;
    top:140px;
    left:410px;
}
.a-about{
    background-color: rgb(40, 164, 164);
    align-items: center;
    padding: 14px 30px;
    color:white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;

    transition: background-color 0.2s linear;
}
.a-about:hover{
    background-color: brown;
}



.container-best{
    background: linear-gradient(rgb(0, 0, 0), rgb(213, 249, 255))
}
.best{
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 100px;
    font-weight: 700px;
    padding-bottom: 0px;
    padding-top: 25px;
}
.image-best{
    text-align: center;
    padding-top: 0px;
}


.container-cards{
    background-color: rgb(213, 249, 255);
}
.cards-holder{
    display: flex;
    justify-content: center;

}
.card{
    box-shadow: 10px 10px 40px 30px #0000001A;
    width: 349px; 
    height: 328px;
    margin-right: 30px;
    margin-top: 22px;
    margin-bottom: 22px;
    background-color: #fff;
    padding: 0px 0px 10px 15px;
    border-radius: 5%;
    
}
.card-image{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 5px;

}
.title-card{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 520;
    padding-top:10px;
}
.discription-card{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding:10px;
    width: 310px;
        height: 104px;
    
}
.bth-card{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    
}
.button-card{
    background-color:rgb(40, 164, 164);
    color:white;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 500;
    border-radius: 5%;

    transition: background-color 0.2s linear;

}
.button-card:hover{
    background-color: brown;
}

.sub-discription{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 20px 10px 10px 10px;
    background-color: rgb(213, 249, 255);
}
.container-subscribe{
    background: linear-gradient(rgb(213, 249, 255), rgb(0,0,0));
    display: flex;
    justify-content: center;
    
}

.sub{
    width: 349px; 
    height: 328px;
    margin-right: 30px;
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 0px 0px 10px 15px;
    font-size: 25px;
}
.under{
    
}
.club-card{
    
}
.day-fit p{
    font-size: 18px;
}
  
ul{
    padding: 0px 0px;
    margin: 10px;
}
li{
    font-size: 18px;
}
.sub-img{
    display: flex;
    justify-content: end;
    margin-top: 45px;
}
    

@media (max-width: 1500px){
    
}

@media (max-width: 1200px) {
    
    .cards-holder{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin-top: 25px;
        padding-bottom: 20px;
        margin-left: 35px;
    }
    
    
}


@media (max-width: 1024px) {
    .header-title{
        left:20%;
        
    }
    
}

@media (max-width: 890px) {

.header-logo{
    font-size: 21px;
}
.nav-item{
    font-size: 15px;
    margin-left: 13px;
}
.tel{
    font-size: 15px;
}
.button{
        padding: 10px 12px;
        font-size: 15px;
}
    
}


@media (max-width: 709px) {

.header-title{
        align-items: center;
        left: 15%;
        margin-right: 50px;
}
.header-subtitle2::before, .header-subtitle2::after{
        display: none;
}
.best{
    font-size: 90px;
    font-weight: 650px;
}
}

@media (max-width: 658px) { 
    .header-title{
        left: 20%;
        margin-right: 45px;
        font-size: 35px;
        
    }
    .header-subtitle{
        font-size: 45px;
        flex-wrap: nowrap;
        padding-top: 7px;
        padding-bottom: 7px;
    
    }
    .header-line{
        justify-content: flex-start;
    }
    .header-logo {
        font-size: 22px;
        margin-left: 40px;
        }
    .nav, .phone, .btn{
        display: none;
       }
       .menu-down{
        display:block;
        margin-left: 63%;
       }
}



